body {
    height: 100vh;
    
  
   }
<<<<<<< HEAD
/* .formChange{
    width: 80% !important;
    max-height: 500px !important;
    background-color: red !important;
    margin: auto !important;
    padding: 0 !important;

}
#MDBCardBody{
    width: 50% !important;
    padding: 10px !important;
    color: lawngreen !important;
=======
>>>>>>> ec4bd053419cc36b9500fd406c5af46867ec3291

.formContainer{
    height: 100vh;
    min-height: 100%;
    background-image: url("https://cdn.pixabay.com/photo/2016/03/10/09/24/typewriter-1248088_1280.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}