body {
    background-image: url("https://cdn.pixabay.com/photo/2016/03/10/09/24/typewriter-1248088_1280.jpg");
  
   }
/* .formChange{
    width: 80% !important;
    max-height: 500px !important;
    background-color: red !important;
    margin: auto !important;
    padding: 0 !important;

} */
/* #MDBCardBody{
    width: 50% !important;
    padding: 10px !important;
    color: lawngreen !important;

} */