body {
    height: 100vh;
     
   }

 .formContainer{
     background-image: url(https://cdn.pixabay.com/photo/2017/05/08/15/28/agenda-2295709_960_720.jpg) !important;

 }  
.row1{
    /* margin-left: 5px; */
    margin: 20px 5px;
}

.lastName{
    margin-left: 30px;
}

.rowRadio{
    margin-left: 25%;
}

.icon1{
    padding: 10px;
    text-align: center;
}

.lastName label{ 
    margin-left : 0px;
}

.formRow{
    position: absolute;
    top : 10%;
}
/* .rowRadio{
    margin
} */