.vert-offset-top-0{
    margin-top: 0em;
}
.vert-offset-top-2{
    margin-top: 2em;
}
.list-group{
    max-height: 210px;
    margin-bottom: 10px;
    overflow-y:scroll;
    -webkit-overflow-scrolling: touch;
}